@media only screen and (max-width: 1200px){
    #services .text-center{
        display: flex;
        flex-wrap: wrap;
    }
    #portfolio .row .row{
        display: flex;
        flex-wrap: wrap;
    }
    #services .text-center>.blk{
        flex: 1;
        min-width: 180px;
    }
    #portfolio .row>.blk2{
        flex: 1;
        min-width: 250px;
    }
    footer {
        width: 100%;
    }
}
@media only screen and (max-width: 954px){
    .text-vertical-center img {
        width: 60%;
    }
    .text-vertical-center h3 {
        width: auto;
    }
    .text-vertical-center h1 {
        width: auto;
    }
    section#about .col-lg-12 {
        width: auto;
    }
    .callout {
        width: 100%;
    }
    aside.call-to-action.bg-primary h3 {
        margin: 10px;
        width: auto;
    }
}
@media only screen and (max-width: 754px){
    aside.callout .text-vertical-center h1{
        margin: 20px;
        font-size: 3.5em;
    }
    #top .text-vertical-center h3 {
        margin: 10px;
    }
    #about h2{
        font-size: 22px;
    }
}
@media only screen and (max-width: 481px){
    .text-vertical-center h1{
        margin: 0;
        font-size: 3.5em;
    }
    aside.callout .text-vertical-center h1{
        margin: 10px;
        font-size: 2.5em;
    }
}
@media only screen and (max-width: 320px){
    .text-vertical-center img {
        width: 100%;
    }
}